{% extends 'layouts/base.html' %}
{% block base %}
<div class="container">
	<section>
		<br />
		<br />
		<br />
		<h1>PCLOUD</h1>
		<p>
			Hey....This is simple, you want your stuff...we get it for you.
		</p>
		<br />
		<br />
	</section>
	<section id="facebook">
		<form class="well form-search">
			<!-- 
				I dont think we need this; its kind of redundant
				<label for="">Facebook Username</label>
				<br />
				<input type="text" class="input-medium search-query" value='me@dmpeters63.net'>
			-->
			<button type="submit" class="btn btn-success" id='facebook-btn'>
				Get Sync'd with Facebook
			</button>
			<!-- 
				Thought to add icons to signal whether logged in
				<span class="icon-thumbs-up">&nbsp;</span>
				or
				<span class="icon-ok">&nbsp;</span>
			-->
		</form>
		<div class="progress progress-striped active">
			<div class="bar"
			style="width: 40%;"></div>
		</div>
	</section>
	<section id="instagram">
		<form class="well form-search">
			<label for="">Instagram Username</label>
			<br />
			<input type="text" class="input-medium search-query" value='dinopetrone@gmail.com'>
			<button type="submit" class="btn btn-success" id='instagram-btn'>
				Get Instagram
			</button>
		</form>
		<div class="progress progress-striped active">
			<div class="bar"
			style="width: 40%;"></div>
		</div>
	</section>
	<section id="done" class='clearfix'>
		<div class="pull-right">
			<a href="" class="btn btn-primary">Get Your Stuff!</a>
		</div>
	</section>
</div>
{% endblock %}