{% extends 'layouts/base.html' %}
{% block base %}
<div class="container">
	<section class="logo">
		<br />
		<br />
		<br />
		<h1>PCLOUD</h1>
		<p>
			Hey....This is simple, you want your stuff...we get it for you.
		</p>
		<br />
		<br />
	</section>
    <form>
    	<section id="facebook">
    		<button type="submit" class="btn btn-primary" id='facebook-btn'>
    			<span>Get Sync'd with Facebook</span>
    		</button>
    		<br />
    		<br />
    		<button type="submit" class="btn btn-primary" id='instagram-btn'>
    			Get Sync'd with Instagram
    		</button>
    		<!--
    		Thought to add icons to signal whether logged in
    		<span class="icon-thumbs-up">&nbsp;</span>
    		or
    		<span class="icon-ok">&nbsp;</span>
    		-->
    	</section>
        {% csrf_token %}
    </form>
	<br />
	<section id="progress" class='hide'>
		<div class="progress progress-striped active">
			<div class="bar"
			style="width: 40%;"></div>
		</div>
	</section>
	<section>
		<div class="row">
			<br />
			<button id="done" href="" class="btn btn-success hide offset5">GO!!!</button>
		</div>
	</section>
</div>
{% endblock %}
