{% extends 'layouts/base.html' %}
{% block base %}
<div class="container">
	<section>
		<br />
		<br />
		<br />
		<h1>PCLOUD</h1>
		<p>
			Hey....This is simple, you want your stuff...we get it for you.
		</p>
		<br />
		<br />
		<form class="well form-search">
			<label for="">Facebook Username</label>
			<br />
			<input type="text" class="input-medium search-query">
			<button type="submit" class="btn btn-success">
				Get Facebook
			</button>
		</form>
		<div class="progress progress-striped active">
			<div class="bar"
			style="width: 40%;"></div>
		</div>
		<div class="pull-right">
			<a href="" class="btn btn-primary">Get Your Stuff!</a>
		</div>
	</section>
</div>
{% endblock %}