Cython==0.16
Django==1.4.1
ExtensionClass==4.0a1
Fabric==1.4.3
PIL==1.1.7
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.12
boto==2.5.2
celery==3.0.6
dj-database-url==0.2.1
django-celery==3.0.4
-e git+https://github.com/sehmaschine/django-grappelli.git@d69c02e5ab6227040aef8d50f31b8c9c3513807c#egg=django_grappelli-dev
django-storages==1.1.4
-e git+https://github.com/schmir/gevent.git@ac04312ae66f7e7fcf86bf90b520befa670c27c8#egg=gevent-dev
gevent-websocket==0.3.6
greenlet==0.4.0
gunicorn==0.14.6
httplib2==0.7.4
kombu==2.4.0
psycopg2==2.4.5
pycrypto==2.6
-e git+https://github.com/aventurella/pydi.git@33391b6d303d19459284c9ef0eefd26a2fa0f761#egg=pydi-dev
python-dateutil==1.5
python-instagram==0.8.0
redis==2.6.2
requests==0.13.6
simplejson==2.6.1
ssh==1.7.14
twitter==1.9.0
wsgiref==0.1.2
-e git+https://github.com/abourget/gevent-socketio#egg=gevent-socketio

